.fuego {
    background-color: blueviolet;
}

#ejemplo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.caja {
    width: 100px;
    height: 100px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.color1 {
    background-color: brown;
}

.color2 {
    background-color: rgb(42, 165, 69);
}

.color3 {
    background-color: rgb(75, 42, 165);
}